<!doctype html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>Komrade Dashboard</title>
	<meta name="description" content="Komrade Dashboard" />
	<link href="/style.css" rel="stylesheet" type="text/css">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
	<script src="/main.js" type="text/javascript"></script>
</head>
<body>
	<span id="sample-label">Worker throughput.</span>
	<hr />
	<table id="queue-summary">
		<tr>
			<td class="label">in</td>
			<td class="minute-value"><%=@queue[:in_minute]%></td>
			<td class="hour-value"><%=@queue[:in_hour]%></td>
			<td class="day-value"><%=@queue[:in_day]%></td>
		</tr>
		<tr>
			<td class="label">out</td>
			<td class="minute-value"><%=@queue[:out_minute]%></td>
			<td class="hour-value"><%=@queue[:out_hour]%></td>
			<td class="day-value"><%=@queue[:out_day]%></td>
		</tr>
		<tr>
			<td class="label">error</td>
			<td class="minute-value">
				<a class="error-link" rel="errors-minute"><%=@queue[:error_minute]%></a>
      			</td>
			<td class="hour-value">
				<a class="error-link" rel="errors-hour"><%=@queue[:error_hour]%></a>
			</td>
			<td class="day-value red">
        			<a class="error-link" rel="errors-day"><%=@queue[:error_day]%></a>
			</td>
		</tr>
		<tr>
			<td></td>
			<td class="time-label">1m</td>
			<td class="time-label">1hr</td>
			<td class="time-label">24hr</td>
		</tr>
	</table>

	<section class="errors-detail">
		<span>Failed jobs for last minute.</span>
		<hr />
		<ul id="errors-minute">
		<% @errors[:minute].each do |error| %>
			<li class="errors-minute">
				(<%= error[:count]%>)
				<%= error[:payload]["error"]%>
        -
				<%= error[:payload]["message"][0..200] %>
			</li>
		<% end %>
		</ul>
	</section>

	<section class="errors-detail">
		<span>Failed jobs for last hour.</span>
    		<hr />
		<ul id="errors-hour">
		<% @errors[:hour].each do |error| %>
			<li class="errors-hour">
				(<%= error[:count]%>)
				<%= error[:payload]["error"]%>
        -
				<%= error[:payload]["message"][0..200] %>
			</li>
		<% end %>
		</ul>
	</section>

	<section class="errors-detail">
		<span>Failed jobs for last day.</span>
		<hr />
		<ul id="errors-day">
		<% @errors[:day].each do |error| %>
			<li class="errors-day">
				(<%= error[:count]%>)
				<%= error[:payload]["error"]%>
        -
				<%= error[:payload]["message"][0..200] %>
			</li>
		<% end %>
		</ul>
	</section>
</body>

<script src="https://s3.amazonaws.com/assets.heroku.com/boomerang/boomerang.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    Boomerang.init({app: '<%=@app["name"]%>', addon: 'komrade'});
  });
</script>
</html>
